/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://media.istockphoto.com/id/1446229465/photo/red-heart-and-stethoscope-are-on-blue-background.webp?b=1&s=170667a&w=0&k=20&c=1-aE7XV24f8qVr8fGnpvypir8fSxYaM9sHZurKoutj8=");
    background-repeat: no-repeat;
    background-size: 1300px 1000px;   
}