<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <td>Increment</td>
            <td>Decrement</td>
            <td>Remove</td>
        </tr>
        <tr *ngFor="let cart of cartInfo;let i=index;">
                <td>{{cart.title}}</td>
                <td>{{cart.price}}</td>
                <td>{{cart.qty}}</td>
                <td><a (click)="increment(cart,i)"><img src="https://cdn-icons-png.flaticon.com/512/10263/10263093.png" width="50px" height="50px"></a></td>
                <td><a (click)="decrement(cart,i)"><img src="https://cdn-icons-png.flaticon.com/512/2569/2569198.png" width="50px" height="50px"></a></td>
                <td><a (click)="remove(cart,i)"><img src="https://cdn-icons-png.flaticon.com/512/9283/9283917.png" width="50px" height="50px"></a></td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{totalPrice}}</td>
        </tr>
    </table>
</div>