<div>
    <h2>one way data binding - using event binding</h2>
    {{msg}} or <span [innerText]="msg"></span><br/>
    <input type="button" value="Click Here" (click)="fun()"/>
    <hr/>
    <h2>Template Reference</h2>
    Name : <input type="text" #nameRef/><br/>
    <input type="button" value="Pass Value" (click)="sendData(nameRef)"/>
    <br/>
    1st Number :<input type="text" #n1/><br/>
    2nd Number :<input type="text" #n2/><br/>
    <input type="button" value="Add" (click)="add(n1,n2)"/>
    {{result}}
</div>