<div class="container">
    <h2>All Products</h2>
    <table>
            <tr>
                <th>PId</th>
                <th>PName</th>
                <th>Description</th>
                <th><a (click)="sortByPrice()">Price</a></th>
                <th>Discount</th>
                <th>Rating</th>
                <th>Stock</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Delete Product</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>   
                <td>{{product.discountPercentage}}</td>
                <td>{{product.rating}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.category}}</td>
                <td><img src={{product.thumbnail}} width="100px" height="100px"/></td>
                <td>
                   <a (click)="deleteProduct(product.id)">
                    <img src="https://cdn5.vectorstock.com/i/1000x1000/70/04/delete-icon-vector-3917004.jpg"
                    width="50px" height="50px"/>
                   </a> 
                    <!-- <input type="button" value="Delete Product" (click)="deleteProduct(product)"/></td> -->
            </tr>
    </table>
</div>